<div id="content">
  <div id="content_left">
    <img src="/images/personal_head.png" alt="Kevin's photo">
    <div id="my_resume"><a href="resume">
        <h1>full resume</h1>
      </a></div>
  </div>
  <div id=content_right>
    <h3>SOFTWARE ENGINEERING TECHNOLOGY – CO-OP STUDENT</h3>
    <p>Detail-oriented individual with skills in utilizing a variety of platforms; effective communication skills to
      explain complex software issues to customers and clients.</p>
    <br>
    <h3>SUMMARY OF QUALIFICATIONS</h3>
    <ul>
      <li>Currently enrolled in the Software Engineering Technology Advanced Diploma program at Centennial </li>
      <li>programming skills in C#, JS and Java</li>
      <li>Excellent problem solver and fast learner by using strong analytical skills and following detailed
        instructions.</li>
      <li>Work well independently or as part of a team with strong team and client service communication skills </li>
      <li>Languages: English, Chinese</li>
    </ul>

    <h3>TECHNICAL SKILLS:</h3>
    <ul>
      <li>Familiar with HTML/CSS, JavaScript, C#, Java, Oracle SQL Server, Unix/Linux</li>
      <li>Knowledgeable in git version control, object-oriented software design, user-oriented interface design and data
        management tools </li>
    </ul>

  </div>