
<!-- head for all pages -->

<div id="banner">
    <div id="left">
        <div class="logo">
            <h5>{name: "KEVIN"}</h5>
        </div>
        <div id="this_page_content">
            <h1>
                <%= title %>
            </h1>
        </div>
    </div>
    <div id="right">
        <ul id="nav-menu">
            <a href="/">
                <li>HOME</li>
            </a>
            <a href="/about">
                <li>ABOUT </li>
            </a>
            <a href="/projects">
                <li>PROJECTS</li>
            </a>
            <a href="services">
                <li>SERVICES</li>
            </a>
            <a href="contact">
                <li>CONTACT</li>
            </a>
        </ul>
    </div>
</div>