<div class="form-container">
    <h1>Contact Form</h1>

    <form action="/">
        <div class="personal-inform">
            <div class="firstname">
                <span>
                    First Name:
                </span>
                <input type="text" name="name" id="firstname" required>
            </div>
            <div class="lastname">
                <span>
                    Last Name:
                </span>
                <input type="text" name="name" id="lastname" required>
            </div>
            <div class="cellphone">
                <span>
                    Cell phone:
                </span>
                <input type="phone" name="telphone" id="cellphone" required>
            </div>
            <div class="email">
                <span>
                    Email:
                </span>
                <input type="email" name="email" id="email" required>
            </div>
        </div>

        <div class="message">
            <textarea name="message" id="message" placeholder="Please leave your message here"></textarea>
        </div>
        <div class="button">
            <button type="submit">submit</button>
        </div>

    </form>
</div>