<div id="content">
    <h2>Welcome to my website</h2>
    <h1>KEVIN GAO</h1>
    <h2>SOFTWARE ENGINEER STUDENT</h2>
    <div id="slogan">
        <h3>CODE WITH PASSION, DEBUG LIFE</h3>
    </div>
</div>