
<!-- Content for projects pages -->


<div id="content">
    <div id="project1">
        <div id="project1_left"><img id="img1" alt="project1"></div>
        <div id="project1_right" class="description">
            <h1>Slide Show</h1>
            <h3>Description</h3>
            <p>The project shows photos with set intervals. User can also update photo groups from the database. I used
                HTML, CSS and JavaScript to complete this project. The main sills I practiced in this project are is
                selecting JS DOM, using event handlers, buiding async functions, and playing arrays.</p>
        </div>
    </div>
    <div id="project2">
        <div id="project2_left" class="description">
            <h1>Expencese Record</h1>
            <h3>Description</h3>
            <p>Users can input their expencese instantly and analysis to save money. I used C# to creat the GUI. The
                main sills I practiced create, retreive, update and delete data with GUI.</p>
        </div>
        <div id="project2_right"><img src="/images/project2.png" alt="project2"></div>
    </div>

    <div id="project3">
        <div id="project3_left"><img src="/images/project3.png" alt="project3"></div>
        <div id="project3_right" class="description">
            <h1>MyGovFiles System Design</h1>
            <h3>Description</h3>
            <p>This is a SRS for MyGovFiles System. Users can apply official documents from all levels of goverment in
                one system. I descibed the problems to solve, listed functional and non-functional requirement,
                completed requirements modelling. </p>
        </div>
    </div>
</div>


</div>