<div id="content">
    <div id="project1">
        <div class="top"><img src="/images/service1.png" alt="project1"></div>
        <div class="middle">
            <h1>Webpage Design</h1>
        </div>
        <div class="ordernow"><a href="contact">
                <h2>ORDER NOW</h2>
            </a></div>
    </div>
    <div id="project2">
        <div class="top"><img src="/images/service1.png" alt="project1"></div>
        <div class="middle">
            <h1>Web Application Develope</h1>
        </div>
        <div class="ordernow"><a href="contact">
                <h2>ORDER NOW</h2>
            </a></div>
    </div>
    <div id="project3">
        <div class="top"><img src="/images/service1.png" alt="project1"></div>
        <div class="middle">
            <h1>Software Design</h1>
        </div>
        <div class="ordernow"><a href="contact">
                <h2>ORDER NOW</h2>
            </a></div>
    </div>

</div>