/* projects_javascripts   projects.js
   Kevin Gao   
   301289601
   September 30, 2023 
*/


/* Banner section */
* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 189, 177);
    padding:20px;
    background-image: linear-gradient(rgba(68, 189, 177, 0.5), rgba(68, 189, 177, 0.5)),url("coding.jpg");
}

#banner {
    display: flex;

}

#banner > *{
    flex:1;

}

#left{
    display: flex;
    gap: 20%;
    justify-items:center;
    align-content:last baseline;
}


#this_page_content{
    background-color: none;
    text-transform: uppercase;
    color:white;
}

#my_resume a{
  
    color: antiquewhite;
}


.logo {
    background-color: aliceblue;
    width: 20%;
    text-align: center;
    border-radius: 50%;
    height: 60px;
    position: relative;
    margin-left: 10%;
    border: 5px solid red;
    box-shadow: 3px 5px 3px 3px red;
    rotate: x 30deg;

}
.logo h5{
    position: absolute;
    left:14%;
    top:-0.6em;
    font-size: 1em;
}


/* Nav_bar */
#nav-menu  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:2em;
    padding-right: 40px;

}

#right {
    display: flex;
    flex-direction: row;
}

#right ul li {
    background-color:none;
    text-align: center;
    width: 7vw;
    height:2.5vw;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(190, 182, 182);
    color:azure;
}

#right ul a{
    text-decoration: none;
    color:rgb(184, 207, 207);
    flex: 1;
}

#right ul li:hover {
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


/* Content section */

#content *{
   
    align-items: center;
    margin: 10PX;
}

#content {
    height: 70vh;

    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*border:2px solid white;*/
}
#content_left{
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    
}

#content_left img{  
    border-radius: 30%;
}

#content_right{
    flex:0.5;
    height: 100%;
    margin-top: 10%;
    color: azure;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: flex-start;

}
#content_right *{
    color: azure;
    flex:1;
    line-height: 2em;
    padding:0;
    
}
#content_right h3{
    margin-left: 0;
}